:root {
    --heading-font:  'Shantell Sans';
    --body-font: 'Inter', sans-serif;
    --background-gradient: rgba(1, 16, 24, 0.90);
    --text-color: #D3EFFF;
    --yellow-gentle: #FFFA5F;
    --yellow-intense: #FFF834;
    --blue-dark: #011018;
    --blue-light: #00A6FF;
    --green-dark: #011810;
    --green-light: #5FFF96;
    --purple-dark: #0D0119;
    --purple-light: #C75FFF;
}