<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Testing{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='logo.svg') }}" type="image/x-icon">

    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}
    {% include "components/header.html" %}
    {% endblock %}

    <script>
        document.addEventListener("mousemove", (e) => {
            const glow = document.getElementById("cursor-glow");
            if (glow) {
                glow.style.left = e.clientX + "px";
                glow.style.top = e.clientY + "px";
            }
        });
    </script>

    {% block extra_js %}{% endblock %}
<div id="cursor-glow"></div> 
</body>
</html>