{% from "components/pill.html" import Pill %}

{% macro Compartment(field, title, pills, color, comp_type, helper_text='', full_forms=[]) -%}

<div class="compartment {{ color }}-compartment" id="{{ field }}-compartment">
<h2> {{ title }} </h2> 
<p> {{ helper_text }}</p>  
<div class="{{ comp_type }}-grid">
{% for pill in pills %}
    {{ Pill(pill, variant=field) }}
{% endfor %}
</div>

<div class="d-flex flex-column gap-0">
    {% for ff in full_forms %}
        <p class="full-forms"> {{ ff }} </p>
    {% endfor %}
</div>
</div>

{%- endmacro %}
