<div class="container-fluid p-4 d-flex justify-content-center" id="website-header">
  <div class="d-inline-flex align-items-center gap-4 gap-lg-5">
    <div class="flex-shrink-0">
      <div class="logo-wrapper">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Sukito Logo" id="sukito-logo">
        <div class="bento-tooltip">
          <img src="{{ url_for('static', filename='images/bento.png') }}">
          <h6 class="bento-tooltip-title"></h6>
          <p class="bento-tooltip-text"></p>
          <button class="tooltip-dismiss">Got it! Hide this. (Click header to bring it back)</button>
        </div>
      </div>
    </div>

    <div style="min-width:0;">
      <h1 class="mb-1">Sukito</h1>
      <p class="mb-0 text-lg-nowrap">Your taste. Your vibe.<br class="d-block d-lg-none"><span class="d-none d-lg-inline"> </span>Your anime bento.</p>
    </div>
  </div>
</div>
